.auction-profile {
    width: 100%;
    display: flex;
}

.profile-image {
    width: 50%;
    height: 130vh;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-forms {
    padding: 100px 0;
    width: 50%;
}

.profile-autification {
    width: 550px;
    margin-left: 95px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
    background-color: transparent;
}

.profile-autification .nav-link:focus, .nav-tabs .nav-link {
    background-color: transparent;
}

.profile-autification .nav-link:focus, .nav-tabs .nav-link:hover {
    isolation: isolate;
    border-color: transparent;
}

.profile-autification ul li {
    width: 50%;
    border-radius: 10px 10px 0px 0px;

}

.profile-autification .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    background: transparent!important;
    font-family: 'Roboto';
    border-radius: 10px 10px 0px 0px!important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    text-transform: capitalize;
    color: #000000!important;
}


.profile-autification .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: linear-gradient(108.55deg, #DB0D13 0%, #F3961D 82.61%)!important;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    border-radius: 10px 10px 0px 0px!important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF!important;
}

.profile-autification .tab-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 21px;
}

.login-input-group input {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.login-input-group input {
    padding: 19px 14px;
    font-size: 14px;
}

.login-input-group label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #020202;
}

.login-input-group input:focus {
    border: 1px solid rgba(243, 150, 29, 1);
    box-shadow: 0 0 0 .2rem rgba(243, 150, 29, 0.5);
}   

.login-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-button button {
    background: linear-gradient(90deg, #DB0A13 0%, #F49B1D 100%);
    box-shadow: -1.04px 4.891px 20px rgba(69, 49, 183, 0.5);
    border-radius: 30px;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 12px 52px;
}

.form-error-message {
    color: #DB0A13;
}

@media screen and (max-width: 1300px) {
    .profile-autification {
        width: 480px;
        margin-left: 75px;
    }

    .profile-image {
        width: 40%;
    }
}



@media screen and (max-width: 968px) {
    .profile-image {
        width: 100%;
    }

    .profile-forms {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .profile-autification {
        margin-left: 0;
        background-color: #fff;
    }

    .profile-image {
        height: 800px;
    }

    .profile-forms {
        padding: 100px 20px;
    }

    .login-input-group input {
        padding: 15px 10px;
    }

    .login-button button {
        padding: 6px 42px;
    }

    .profile-autification .tab-content {
        padding: 20px 15px 40px 15px;
        
    }
}

@media screen and (max-width: 768px) {
    .login-input-group input {
        padding: 10px 8px;
    }

    .login-button button {
        padding: 6px 42px;
    }

    .profile-image {
        height: 700px;
    }
}

